<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p id="breadcrumb">
    <a href="/">Home</a>
    ><a href="/snacks">Snacks</a> 
    >Edit Snack
  </p>
  <form action="/snacks/<%= snack._id %>?_method=PUT" method="POST" autocomplete="off">
    <label for="snack">snack</label>
    <input id="snack" type="text" name="description" value=" <%= snack.description %>">
    <label for="quantity">quantity</label>
    <input id="quantity" type="number" name="quantity" value="<%= snack.quantity %>">
    <button type="submit">Save</button>
  </form>
</body>
</html>