<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Snacks Inventory</title>
</head>
<body>
  <p id="breadcrumb">
    <a href="/">Home</a>
    >Snacks
  </p>
  <h1>Snack Inventory</h1>
  <ul>
    <% snacks.forEach(snack => { %>
      <li>
        <form 
        action="/snacks/<%= snack._id%>?_method=DELETE"
        class="delete-form"
        method="POST"
        >
        <button type="submit">X</button>
        </form>
        <a href="/snacks/<%= snack._id %>">
          <%= snack.description %>--<%= snack.quantity %>   
        </a>
      </li>
    <% }) %>
  </ul>

  <a href="/snacks/new">add a new snack</a>
</body>
</html>